doctype html
html
    head
        title Users Info
        style.
            body {
                font-family: Arial, sans-serif;
                margin: 20px;
            }
            h1 {
                color: #333;
            }
            ul {
                list-style-type: none;
                padding: 0;
                margin-top: 20px;
            }
            li {
                padding: 10px;
                border-bottom: 1px solid #ddd;
            }
            li:last-child {
                border-bottom: none;
            }

    body
        h1 Users Information

        if users.length === 0
            p No users available.
        else
            ul
                each user in users
                    li #{user.name} #{user.surname} - #{user.email}
